.categories {
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    column-gap: 1rem;

    .filter-btn {
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      border: none;
      background: none;
      text-transform: uppercase;
      height: 40px;

      &:focus {
        background-color: rgb(255, 166, 0);
        color: rgb(255, 255, 255);
        border-radius: 4px;
      }

      @media (max-width: 530px) {
        font-size: 1rem;
        column-gap: 0.5rem;
      }
    }
  }
}
