body {
  margin: 0;
  box-sizing: border-box;
}
html{


  &::-webkit-scrollbar{
     width: 0.5rem;
  }

  &::-webkit-scrollbar-track{
     background: white;
  }

  &::-webkit-scrollbar-thumb{
     background: rgb(255, 0, 0);
     border-radius: 55px;
  }

}

header{
  margin: 0;
  box-sizing: border-box;
}


.full{
  display:flex;
  justify-content:center;
  margin-top:420px;
}

.nav{
  background-color:rgb(238, 238, 238);
}
